<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Person</title>
</head>

<body>

<table th:border="1">
<tr>
    <th>Username</th>
    <th>Password</th>
</tr>

<td><p th:text="${user.getUsername()}">VALUE</p></td>
<td><p th:text="${user.getPassword()}">VALUE</p></td>

</table>
</br>
<a th:href="@{{id}/update(id=${user.getId()})}"><input type="submit" value="Update"></a>
</br>
<form th:method="DELETE" th:action="@{{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="EXIT">
</form>
</body>
</html>