<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>like</title>

</head>
<body>
<h1>New Users</h1>
<form th:method="POST" th:action="@{new}" th:object="${user}">


    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

    <div class="col-1.5">
        <label th:for="roles"> User Type: </label>
        <select class="form-control" name="initializeRoles" id="initializeRoles">
            <option th:each="initializeRoles:${roles}"
                    th:value="${initializeRoles.id}"
                    th:text="${initializeRoles.authority}">
            </option>
        </select>
    </div>

    <input type="submit" value="create!">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="EXIT">
    </form>
    </select>
</form>
</body>
</html>